# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# Environment files (ONLY if you decide to keep secrets private)
# Uncomment if you want to exclude them
#.env
